# X Layer测试网配置
L1_RPC_URL=https://your-l1-rpc-endpoint
L1_BEACON_URL=https://your-l1-beacon-endpoint

# Bootnode配置
OP_NODE_BOOTNODE=enr:-J24QMKrCjD9yO_etOJmxFNAJdJayoNLzx2SKRD4amiEtYHSAgaQIheHntQ8hQLby7ejqwPQzMuT6nys9MBfU0yeVZaGAZnq6jJvgmlkgnY0gmlwhAjStTKHb3BzdGFja4OgDwCJc2VjcDI1NmsxoQPqrp_i_HWK3WX-TP1CkY6JjharIylNuI8NzbyrJ3PnW4N0Y3CCJAeDdWRwgiQH
OP_GETH_BOOTNODE=enode://49d192820108e631fcca90eea2dad846e0de2a451cd8c131b659e7cfc50c6c54e4b99267b2b9889dc4e6df73547039c7fb726d09c8ba31e91cd3b5f497d291f7@8.210.181.50:30303

# Docker镜像标签
OP_STACK_IMAGE_TAG=op-stack:latest
OP_GETH_IMAGE_TAG=op-geth:latest

